p::selection {
  color:green;
}

form {
    width:300px;
    height:100px;
    padding:10px;
}

form:focus-within {
    background-color: green;
}

label::selection {
    color:green;
}